# .gitignore

# Dependencies
node_modules/

# Environment files
.env
docker.env

# Bun files
*.lockb

# Logs
logs/
*.log

# IDE
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Vehicle cache folder
cache